* {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: 'Raleway', sans-serif;
}


header {
	background-color: #226532;
	color: #eceff4;
	width: 100%;
	height: 4rem;
	padding: 1rem;
	position: fixed;
	box-shadow: 0 0.35rem 0.5rem rgba(0,0,0,0.25);
}

/* Font size for each tag */

h1 {
	font-size: calc(12px + 1.5vw);
}

h4 {
	font-size: calc(8px + 1vw);
}

p {
	font-size: calc(6px + 0.85vw);
	text-align: justify;
}

.container ul li, ol li {
	font-size: calc(6px + 0.85vw);
}

.navbar ul li {
	font-size: calc(6px + 0.5vw);
}

/* */

body {
	background-image: url("images/sjcdc-bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

main {
	margin-top: 8rem;
}

/* Navigation Bar */

.logo {
	width: 4rem;
	float: left;
	position: relative;
	top: -1.25rem;
	margin-right: 2rem;
	border-radius: 50%;
}

.navbar {
	padding: 1.5rem;
	font-weight: bold;
}


.navbar ul li {
	list-style: none;
	/*float: left;*/
	display: inline-block;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.navbar ul li a {
	text-decoration: none;
	color: #eceff4;
}

.navbar ul li a:hover {
	color: #88c0d0;
}

/* Title styling */

.title {
	width: 100%;
	color: #eceff4;
	background-color: #2265327f;
	border-top: 4px solid #22653240;
	border-bottom: 4px solid #22653240;
	padding: 2rem;
	text-align: center;
	margin-top: 12rem;
	margin-bottom: 4rem;
}


/* Container */

.container {
	background-color: #eceff4bf;
	color: #232731;
	padding: 2rem;
	margin: 1rem 2rem 1rem 2rem;
	border-radius: 0.5rem;
	box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.35);
}

.container ul, ol {
	padding-left: 3rem;
}

.container img {
	width: 100%;
	border-radius: 0.5rem;
	margin: 1rem 2rem 1rem 2rem;
}

footer {
	background-image: linear-gradient(to top, #212529, #373b3e);
	padding: 2rem;
	background-color: #212529;
	color: #eceff4;
}

footer p {
	font-size: calc(6px + 0.35vw);
	text-align: center;
}

form input {
	padding: 0.35rem;
	border: none;
}

form input[type="text"] {
	outline: none;
}